$primary-color: #F8F8FF;
$secondary-color: linear-gradient(119deg, rgba(2, 0, 36, 1) 43%, rgba(112, 9, 121, 1) 52%, rgba(0, 255, 196, 1) 53%);
$btn-color: linear-gradient(119deg, rgba(82, 255, 0, 1) 50%, rgba(41, 217, 171, 1) 50%, rgba(0, 255, 196, 1) 57%);